node_modules/
dist/
build/
**/.env
**/.env.*
!.env.example
.DS_Store
Coverage/
.nyc_output/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
backend/venv/
venv/
ENV/
env.bak/
venv.bak/
