fastapi
uvicorn
motor
pymongo
pydantic
pydantic-settings
passlib[bcrypt]
python-multipart
python-dotenv
PyJWT
groq
httpx
email-validator
python-jose
faster-whisper
websockets
psutil
google-auth
google-auth-httplib2
 